.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5vw 35vw;
}

.tile {
  font-size: 20px;
  line-height: 20px;
  width: 10vw;
  height: 10vw;
}

button:disabled {
  color: inherit;
}

.flex-full-width{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-width {
  min-width: 30vw;
}

.redirect {
  display: block;
  text-align: center;
  text-decoration: none;
  padding-top: 12px;
  width: 50vw;
  height: 30px;
  border: 1px solid #282c34;
  background-color: #55dbd6;
}
.redirect:hover {
  font-weight: bold;
}